* {
    color: white;
}

body {
    font-family: 'Roboto', sans-serif, Tahoma; 
}

p {
    max-width: 60ch;
}



html, body, footer {
    background: url("../images/pawel-czerwinski-abstractspace.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    overflow: auto;
    overscroll-behavior: contain;
}

body {
    margin: 0;
    background-attachment:fixed;
    min-height: 100%;
  }

  
/* .allButFooter {
    min-height: calc(100vh - 40px);
    min-height: calc(100vh - 95px); 
} */


footer {
    position:fixed;

    /* position: absolute; */
    /* top:0; */
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

/* null null null */
/* null null null */