* {
    color: white;
}

body {
    font-family: 'Roboto', sans-serif, Tahoma; 
}

p {
    max-width: 60ch;
}



html, body, footer {
    background: url("../images/pawel-czerwinski-abstractspace.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* overflow: auto;
    overscroll-behavior: contain; */

    /* min-height: calc(100vh - 120px); */

}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

  


footer {
    text-align: center;
    height: 50px;
}

/* gygtyvgt */
/* uhguigyugy */
/* uhiughg */